@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

/* Colores basicos para usar a lo largo del proyecto */
:root {
    --azul: #0277bd;
    --gris: #646769;
    --fondo: rgb(226, 226, 226);
  }
body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--fondo);
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
p, h2, h5, h3, h4{
    padding: 0 10px;
}
h4, h5{
    color: var(--gris);
    margin: 10px 0;
}
h2{
    font-weight: 500;
}
hr{
    margin: 10px;
}
.navbar{
  position: fixed;
  z-index: 1;
  display: block;
  clear: both;
  width: 100%;
  background-color: var(--azul);
  padding: 0px 20px;
  margin: 0 0 10px;
  min-height: 50px;
  color: white;
  box-shadow: 0 0 8px var(--gris);
  font-weight: 500;
}
.titulo{
  float: left;
}
.activarMenu{
  display: none;
}
.col {
  background-color: white;
  min-width: 200px;
  /* margin: 0 10px 0px 0px; */
}
.colTabladecontenido{
  flex: 10%;
  position: fixed;
  overflow-y: scroll;
  top: 70px;
  bottom: 0px;
  padding-bottom: 50px;
}
.colContenido{
  margin-left: 230px;
  margin-right: 10px;
}
.enlace {
  padding: 0 10px 5px;
  display: block;
  text-decoration: none;
  color: var(--gris);
  font-weight: 500;
  word-wrap: break-word;
}
.enlace:hover{
  color: var(--azul);
  background-color: #bad7e5b2;
  font-weight: 700;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row{
  margin-top: 90px;
  position: absolute;
  display: flex;
}
/* Las imagenes comienzan a acomodarse desde el centro */
.imagenes{
  text-align: center;
}
/* Las imagenes tendran un alto max de 200px, y se separan de las demas imagenes 10px hacia la derecha y abajo */
img{
  max-height: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Estos cambios toman efecto cuando la pantalla tiene un ancho menor a 600px */
@media only screen and (max-width: 600px) {
    /* Desaparece la tabla de contenido */
  .colTabladecontenido{
      display: none;
  }
  /* Muestra el icono de menu desplegable */
  .activarMenu{
      padding: 10px 0;
      font-size: 30px;
      float: right;
      display: block;
  }
  /* La columna con el contenido principal ocupa casi todo el ancha al desaparecer la tabla de contenido */
  .colContenido{
      width: 95%;
      margin-left: 10px;
  }
}